* {
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main,
header {
	width: 80%;
	margin: 0 auto;
}

button {
	display: block;
	margin: 0.3em 0;
	cursor: pointer;
	background: none;
	border-radius: 5px;
	border: none;
}

.clearfix {
	content: "";
	display: block;
	clear: both;
}

.header {
	margin-bottom: 1.5em;
}

.btn-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#btn-scrape,
#btn-delete,
#btn-add-note,
#btn-delete-note,
.comic-block__link {
	padding: 0.8em 1.1em;
	border-radius: 5px;
	font-size: 0.9em;
	border: 1px solid #000;
}

#btn-scrape,
#btn-add-note {
	background: lightgreen;
	margin-right: 0.6em;
	border-color: green;
}

#btn-scrape:hover,
#btn-add-note:hover {
	background: green;
	color: #fff;
}

#btn-delete,
#btn-delete-note {
	background: pink;
	border-color: red;
}

#btn-delete:hover,
#btn-delete-note:hover {
	background: red;
}

#comics {
	float: left;
	width: 50%;
	height: 55vh;
	margin-top: 2em;
	overflow-y: scroll;
}

.comic-block {
	cursor: pointer;
	padding: 0.5em;
}

.comic-block:nth-child(2n) {
	background: #2e2e2e;
	color: #fff;
}

.comic-block:hover {
	background: paleturquoise;
	color: #000;
	/* text-decoration: underline; */
}

.comic-block__title {
	margin-bottom: 0;
}

.comic-block__byline {
	margin-top: 0;
	margin-bottom: 0;
}

.comic-block__link {
	margin-top: 1em;
	color: #000;
	text-decoration: none;
	display: inline-block;
	background: lightblue;
	border-color: blue;
}

.comic-block__link:hover {
	background: blue;
	color: #fff;
}

#notes {
	float: right;
	width: 40%;
	height: 50vh;
	margin-top: 2em;
}

#input-title {
	display: block;
	padding: 0.5em;
	font-size: 1em;
	width: 100%;
	margin-bottom: 0.5em;
}

#input-body {
	display: block;
	padding: 0.5em;
	font-size: 1em;
	width: 100%;
	height: 80px;
}
